.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 126, 255, 0.8);
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  max-width: 800px;
  margin-right: 0px;
  margin-left: 10%;
  padding: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.28);
  color: #000;
}

.body {
  background-image: url('../images/bg.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.paragraph {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

.form-block {
  margin-top: -8px;
  margin-bottom: -8px;
  padding: 14px 0px;
  color: #000;
}

.heading {
  margin-top: 0px;
  font-family: Gilroy, sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.link {
  color: #000;
}

.section-2 {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 8%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 45px;
  padding-left: 10%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.section-3 {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10%;
  padding-right: 45px;
  padding-left: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.paragraph-2 {
  font-family: icons, sans-serif;
  font-size: 33px;
}

.link-block {
  padding: 10px;
}

.submit-button {
  width: 100%;
  border-radius: 5px;
  background-color: #007eff;
}

.success-message {
  background-color: #1be08b;
  color: #000;
  font-weight: 700;
}

.inputfiled {
  border-radius: 3px;
}

.checkbox-label {
  border-style: none;
  border-color: #000;
  color: #707070;
  font-size: 11px;
}

.paragraph-copy {
  margin-bottom: 0px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
}

.link-2 {
  color: #6e6c6c;
}

.paragraph-3 {
  text-align: center;
}

.link-3 {
  color: #fff;
}

@media (max-width: 991px) {
  .section {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block {
    width: 65%;
    height: 462px;
    margin-left: 0%;
    padding: 10px 20px;
  }
  .body {
    background-position: 50% 50%;
  }
  .heading {
    font-size: 33px;
  }
}

@media (max-width: 767px) {
  .section {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block {
    width: 80%;
    height: 479px;
    margin-left: 0%;
    padding: 10px 20px;
  }
  .body {
    background-position: 50% 50%;
  }
  .paragraph {
    font-size: 13px;
    line-height: 20px;
  }
  .heading {
    font-size: 25px;
  }
  .div-block-2 {
    width: 100%;
  }
  .checkbox-label {
    line-height: 15px;
  }
}

@media (max-width: 479px) {
  .section {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block {
    height: 483px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .body {
    background-position: 61% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .paragraph {
    font-size: 11px;
    line-height: 14px;
  }
  .heading {
    margin-bottom: 0px;
    font-size: 15px;
  }
  .div-block-3 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .submit-button {
    width: 100%;
  }
  .checkbox-label {
    font-size: 10px;
    line-height: 10px;
  }
  .checkbox-field {
    font-size: 12px;
  }
  .paragraph-copy {
    font-size: 10px;
    line-height: 19px;
  }
  .paragraph-3 {
    font-size: 9px;
    line-height: 12px;
  }
}

@font-face {
  font-family: 'icons';
  src: url('../fonts/Flaticon.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Radomir tinkov gilroy';
  src: url('../fonts/Radomir-Tinkov---Gilroy-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}